.BannerLogin {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.btn-cerrar-sesion {
  background-color: rgb(152, 0, 0);
  border-radius: 160.6px;
}

.btn-Registro-Becario {
  background-color: rgb(152, 0, 0);
  border-radius: 160.6px;
  font-weight: bold;
  font-size: 26.8px;
}

body {
  /*Configuracion inicial del login*/
  background-image: url(../src/Imagenes/pexels-tyler-lastovich-937783.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*width: 100vh;*/
} 


.Div-Vigencia-Registro {
  margin-top: 21px;padding-top: 0px;
}

.Div-Vigencia-Registro-Msj {
  background: #a30000;
  min-height: 53px;
  height: 31px;
  padding: 11px;
  font-size: 27px;
  border-radius: 21px;
}

.form-control-user {
  border-radius: 10rem;
}

.LoginSection {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.Span-Vigencia-Registro {
  color: rgb(255, 255, 255);
}